{%- extends 'base.html.twig' -%}

{%- block title -%}Inicio de Sesión{%- endblock -%}

{% block body %}
<div class="flex justify-center items-center min-h-screen bg-timber-green-100">
    <div class="bg-white shadow-lg rounded-lg overflow-hidden w-96">

        <div class="p-6">
            <h1 class="text-2xl font-semibold text-center mb-4 text-timber-green-700">Bienvenido a Tierra Viva</h1>

            {%- if error -%}
            <div class="text-timber-green-500 text-sm mb-4">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {%- endif -%}

            <form class="flex flex-col gap-4" method="post">
                {% include 'components/input.html.twig' with {
                    placeholder: "Correo",
                    type: 'email',
                    value: last_username,
                    name: '_username',
                    id: 'username',
                    autocomplete: 'email',
                    required: true,
                    autofocus: true
                } only %}

                {% include 'components/input.html.twig' with {
                    placeholder: 'Contraseña',
                    type: 'password',
                    name: '_password',
                    id: 'password',
                    required: true
                } only %}

                <label class="flex items-center text-lochinvar-600 text-sm">
                    <input type="checkbox" name="_remember_me" class="mr-2">
                    <span>Recuérdame</span>
                </label>

                <div class="flex justify-center">
                    <button type="submit" class="bg-gradient-to-r from-lochinvar-400 to-lochinvar-600 text-white px-6 py-2 rounded-full">Entrar</button>
                </div>

                <div class="flex justify-between text-sm text-lochinvar-500">
                    <a href="/restablecer-contra">¿Olvidaste tu contraseña?</a>
                    <a href="/registro">¿Aún no tienes cuenta?</a>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form>
        </div>
    </div>
</div>
{% endblock %}
