{% extends 'base.html.twig' %}

{% block body %}
<section class="bg-gray-100 py-10">
    <div class="container mx-auto">
        <h2 class="text-center text-buttercup-500 font-bold text-3xl mb-8">Perfil del Usuario</h2>
        <div class="flex justify-center">
            <div class="bg-white rounded-lg shadow-lg p-6 max-w-md w-full">
                <div class="flex flex-col items-center mb-6">
                    <img src="{{ user.profilePicture|default('imgs/default-profile.png') }}" alt="Foto de Perfil" class="w-32 h-32 rounded-full border-4 border-buttercup-500 mb-4">
                    <h3 class="text-lg font-semibold text-gray-800">{{ app.user.name }}</h3>
                    <p class="text-gray-600">{{ app.user.email }}</p>
                </div>
                <div class="flex justify-center">
           {#         <a href="{{ path('edit_profile', {'id': app.user.id}) }}" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-200">
                        Editar Perfil
                    </a> #}
                </div>
            </div>
        </div>
    </div>

        {% include 'components/button.html.twig' with { text: "Cerrar sesión", href: '/logout' } only %}
</section>
{% endblock %}
