{% extends 'anonym/base.html.twig' %}

{% block body %}
<section class="bg-gray-100 py-10">
    <div class="container mx-auto">
        <h2 class="text-center text-buttercup-500 font-bold text-3xl mb-8">Perfil del Usuario</h2>
        <div class="flex justify-center">
            <div class="bg-white rounded-lg shadow-lg p-6 max-w-md w-full flex items-center">
                <!-- Foto de perfil -->
                <div class="flex-shrink-0">
                    <img src="{{ asset("/avatars/" ~ app.user.avatar) }}" alt="Foto de Perfil" class="w-32 h-32 rounded-full border-4 border-buttercup-500 mb-4">
                </div>
                <!-- Informaci贸n del usuario -->
                <div class="ml-4">
                    <h3 class="text-lg font-semibold text-gray-800">{{ app.user.name }}</h3>
                    <p class="text-gray-600">{{ app.user.email }}</p>
                </div>
            </div>
        </div>

    <!-- Bot贸n de cerrar sesi贸n centrado -->
            <div class="flex justify-center mt-5">
                {% include 'components/button.html.twig' with { text: "Cerrar sesi贸n", href: '/logout', class: 'bg-green-700 text-white px-4 py-2 rounded-md hover:bg-green-800 focus:outline-none' } only %}
            </div>
        </div>
    </section>
{% endblock %}
