/*Footer*/
.footer{
    background-color: var(--verde--oscuro);
    color: var(--white);
    font-family: var(--fontFamily-robotoC);
    bottom: 0;
    width: 100%;
    position: sticky;
  }
  .footer .grupo-1{
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }
  .footer .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer .grupo-1 .box figure img{
    width: 200px;
  }
  .footer .grupo-1 .box h2{
    margin-top: 100px;
    font-size: 20px;
    font-weight: 500;
    font-family: var(--fontFamily-oswald);
  }
  .footer .grupo-1 .redsocial a{
    display: inline-block;
    margin-top: 25px;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: var(--amarillo);
    text-align: center;
    font-size: 30px;
  }
  .footer .grupo-2{
    background-color: var(--verde-menta);
    padding: 15px 10px;
    text-align: center;
  }
