/* Slider */
.slide .slider-btn{display:none;}
.slide{
  position: relative;
  padding-block: 120px;
  min-height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.slide .slider-item{
  position: absolute;
  color: var(--white);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  padding-block-start: 100px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-3);
  z-index: 1;
}

.slide .slider-item.active{
  opacity: 1;
  visibility: visible;
}

.slide .slider-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  pointer-events: none;
  user-select: none;
  z-index: -1;
}

.slide .slider-item.active .slider-bg{
  animation: smoothS 7s linear forwards;
}

@keyframes smoothS {
  0% {transform: scale(1);}
  100% {transform: scale(1.15);}
}

.slide .section-subtitle::after{margin-block: 14px 20px;}
.slider-text{ 
  font-size: var(--fontSize-body-1);
  margin-block: 10px 40px;
}
.slide .btn{ 
  font-size: var(--fontSize-body-2);
  margin-inline: auto;
  border-radius: 10px;
}

.slide-reveal{
  transform: translateY(30px);
  opacity: 0;
}

.slide .slider-item.active .slider-reveal{
  animation: slidereveal 1s ease forwards;
}

@keyframes slidereveal {
  0%{
    transform: translateY(30px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.slide .slider-item.active .section-subtitle{ animation-delay: 500ms;}
.slide .slider-item.active .slide-title{ animation-delay: 1000ms;}
.slide .slider-item.active .slider-text{ animation-delay: 1.5s;}
.slide .slider-item.active .btn{ animation-delay: 2s;}
