{% extends 'base.html.twig' %}

{% block body %}
{% include 'index/slider.html.twig' %}
<div class="flex flex-col py-5 gap-3 items-center">
    <h1 class="font-heading text-3xl text-pistachio-500 text-center">CONOCE LAS HERRAMIENTAS PARA HACERLO TU MISMO</h1>
    <p class="font-body text-center">
        Encuentra una variedad de contenido en nuestro apartado de recursos, desde videos hasta documentos.
    </p>
    <a href="{{ path('app_resources') }}" class="btn-outline">Recursos</a>
    <div class="flex flex-row gap-3">
        {% include 'index/mini-card.html.twig' with { text: 'Tipos de plantas', img: 'imgs/semillas.png', href: "" } only %}
        {% include 'index/mini-card.html.twig' with { text: 'Herramientas', img: 'imgs/herramientas.png', href: "" } only %}
        {% include 'index/mini-card.html.twig' with { text: 'Cuidados', img: 'imgs/cuidados.png', href: "" } only %}
        {% include 'index/mini-card.html.twig' with { text: 'Amenazas', img: 'imgs/ameanzas.png', href: "" } only %}
        {% include 'index/mini-card.html.twig' with { text: 'Reutiliza', img: 'imgs/llave.png', href: "" } only %}
    </div>
    <div class="flex flex-col py-8 relative before:top-0 before:left-0 items-center z-0 before:w-full before:h-full before:absolute before:bg-things-pattern before:bg-repeat before:bg-center before:-z-10 gap-3 before:bg-[length:1050px]">
        <h1 class="font-heading text-3xl text-pistachio-500 text-center py-2 px-5 bg-pistachio-50 rounded-3xl">SOBRE NOSOTROS</h1>
        <div class="flex flex-row justify-center">
            <img src="/imgs/smrithi-rao_Sobrenosotros.jpg" alt="sobrenosotros_exmp"
                class="w-3/12 h-80 rounded-xl object-cover">
            <p class="py-2 px-5 bg-pistachio-50 rounded-3xl w-6/12">
                ¡Te damos la bienvenida a Tierra Viva!<br>
                Somos tu plataforma especializada en agricultura urbana y sostenibilidad.</br>
                <br>
                Nuestra misión es inspirar y capacitar a las comunidades para que se conecten con la naturaleza y adopten
                prácticas sostenibles. <br>
                <br>
                Descubre nuestra amplia gama de recursos, que incluyen desde vídeos educativos hasta documentos detallados.
                Utiliza nuestro mapa interactivo para encontrar jardines y viveros cercanos, y visita nuestra sección de
                proveedores para contactar con especialistas locales que ofrecen productos y asesoramiento de calidad. <br>
                <br>
                Participa en nuestro foro, donde podrás compartir experiencias, obtener consejos y debatir sobre temas
                relevantes con otros entusiastas. <br>
                <br>
                Únete a Tierra Viva y forma parte de un cambio positivo hacia un futuro más verde.
            </p>
        </div>
    </div>
    <div class="flex flex-row gap-4 py-6 justify-center">
        {% include 'index/mid-card.html.twig' with {
            text: 'Mapa interactivo',
            img: 'imgs/mapa-feature.png',
            href: path('app_map')
        } only %}
        {% include 'index/mid-card.html.twig' with {
            text: 'Proveedores',
            img: 'imgs/provee-feature.png',
            href: path('app_providers')
        } only %}
        {% include 'index/mid-card.html.twig' with {
            text: 'Foro comunitario',
            img: 'imgs/world-feature.png',
            href: path('app_forum')
        } only %}
    </div>
</div>
{% endblock %}

{#

{% block body %}
{% endblock %}
#}
