<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tierra Viva{% endblock %}</title>
        <link rel="icon" href="/favicon.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Lalezar&family=Langar&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}

        {% block importmap %}{{ importmap('app') }}{% endblock %}
    </head>
    <body class="font-body flex flex-col min-h-screen">
        {% include "header.html.twig" %}
        <main class="grow">
            {% block body %}{% endblock %}
        </main>
        {% include "footer.html.twig" %}
    </body>
</html>
