<header class="flex flex-col bg-timber-green-900 py-5 px-10 items-center">
    <div class="flex flex-row items-center gap-10">
        <img src="/icon.png" height="150" />
        <div class="flex flex-col flex-1 items-baseline">
            <img src="/logo.svg" class="max-h-10" />
            <p class="text-white">
                En Tierra Viva podrás encontrar diferentes recursos y diversos apartados para poder acceder y crear tu
                propio huerto en casa. Únete a nuestra comunidad y descubre cómo promover la agricultura urbana y
                comunidades sostenibles.
            </p>
        </div>
        <div class="flex-col flex">
            <span class="font-heading text-white">Siguenos</span>
            <div class="flex flex-row gap-5 text-pistachio-400">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-github"></i>
            </div>
        </div>
    </div>
    <div class="bg-lochinvar-600">
    </div>
</header>
