{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel='stylesheet' href="/css/slider.css" />
{% endblock %}

{% block body %}
    <article>
        {% include 'components/slider.html.twig' %}
    </article>
    <section class="apartados" id="apartados">
        <div class="apartados_container grid">
            <div class="new_apartado">
                <h2 class="section-subtitle">Conoce las herramientas <br> para hacerlo tu mismo </h2>
                <p class="title-2">
                    Encuentra una variedad de contenido en nuestro apartado de recursos, desde videos hasta documentos.
                </p>
                <div class="btn-container">
                    <a href="#" class="btn btn-primary slider-reveal">
                    <span class="text text-1">Recursos</span>
                    <span class="text text-2" aria-hidden="true">Recursos</span>
                    </a>
                </div>    
            </div>
            <div class="apartado_content grid">
                <article class="apartado_card">
                    <img src="img/semillas.png" alt="semillas">
                    <h2 class="apartado-title">Tipos de plantas</h2>
                </article>
                <article class="apartado_card">
                    <img src="img/herramientas.png" alt="herramientas">
                    <h2 class="apartado-title">Herramientas</h2>
                </article>
                <article class="apartado_card">
                    <img src="img/cuidados.png" alt="cuidados">
                    <h2 class="apartado-title">Cuidados</h2>
                </article>
                <article class="apartado_card">
                    <img src="img/ameanzas.png" alt="amenazas">
                    <h2 class="apartado-title">Amenazas</h2>
                </article>
                <article class="apartado_card">
                    <img src="img/llave.png" alt="llave">
                    <h2 class="apartado-title">Reutiliza</h2>
                </article>
            </div>
        </div>
    </section>
    <section class="nosotros" id="nosotros">
        
    </section>
{% endblock %}
