{% extends "base.html.twig" %}

{% block body %}
    <h1>Hola RECURSOS</h1>
    <p>Qué tal?, esta es la ventana de Recursos</p>
    <span>Bienvenidos a mi página web</span>

    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis hic incidunt numquam voluptatibus. Molestiae voluptates harum accusantium. Accusantium ipsam dolorem ut consectetur quam, id, nesciunt autem et a, debitis accusamus!</span>
    <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus debitis mollitia eaque vitae, veritatis cupiditate ad quibusdam ullam nihil nulla tempora saepe magnam voluptatibus? Facere at excepturi est ea repudiandae?</span>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim cum numquam, excepturi, quaerat at, cupiditate debitis id voluptas esse ex fugiat! Veritatis laboriosam nobis amet facere? Necessitatibus reprehenderit possimus accusamus.</span>

    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit est</h1>
    <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, possimus vitae obcaecati maiores voluptatem, nam aut repellendus quae voluptatibus sapiente asperiores corporis consectetur explicabo incidunt aspernatur molestias quaerat quisquam aliquam.</span>
{% endblock %}


