<!-- resources/views/menuFooterBar.blade.php -->
<footer class="footer">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <img src="img/logos/Logo.png" alt="Logo del portal">
            </figure>  
        </div>
        <div class="box">
            <img src="img/logos/tierraviva.png" alt="nombre">
            <p>En Tierra Viva podrás encontrar diferentes recursos y diversos apartados para poder acceder y crear tu propio huerto en casa.<br> Únete a nuestra comunidad y descubre cómo promover la agricultura urbana y comunidades sostenibles.</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="redsocial">
                <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="#"><ion-icon name="logo-github"></ion-icon></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2024 <b> Tierra Viva </b> Todos los derechos reservados.</small>
    </div>
</footer>
