<!-- resources/views/slider/slider.php -->
<section class="slide text-center" aria-label="inicio" id="inicio">
  <ul class="slide-slider" data-slide-slider>
    <li class="slider-item active" data-slide-slider-item>
      <div class="slider-bg">
        <img src="img/slider/slider-1_robinwersichutm.jpg" width="1520" height="950" alt="" class="img-cover">
      </div>
      <p class="label-2 section-subtitle slider-reveal">Agricultura Urbana</p>
      <h1 class="display-1 slide-title slider-reveal">
        Cultiva tus alimentos en casa
      </h1>
      <p class="body-2 slider-text slider-reveal">Conoce diferentes métodos.</p>
      <a href="#" class="btn btn-primary slider-reveal">
        <span class="text text-1">Leer</span>
        <span class="text text-2" aria-hidden="true">Leer</span>
      </a>
    </li>
    <li class="slider-item active" data-slide-slider-item>
      <div class="slider-bg">
        <img src="img/slider/slider-2_neslihan-gunaydin.jpg" width="1520" height="950" alt="" class="img-cover">
      </div>
      <p class="label-2 section-subtitle slider-reveal">Conoce como lograrlo</p>
      <h1 class="display-1 slide-title slider-reveal">
        Diversas herramientas para <br> iniciar en la agricultura
      </h1>
      <p class="body-2 slider-text slider-reveal">Informate más sobre los métodos.</p>
      <a href="#" class="btn btn-primary slider-reveal">
        <span class="text text-1">Leer</span>
        <span class="text text-2" aria-hidden="true">Leer</span>
      </a>
    </li>
    <li class="slider-item active" data-slide-slider-item>
      <div class="slider-bg">
        <img src="img/slider/slider-3_thomas-gamstaetter.jpg" width="1520" height="950" alt="" class="img-cover">
      </div>
      <p class="label-2 section-subtitle slider-reveal">Conoce nuestros Proveedores</p>
      <h1 class="display-1 sile-title slider-reveal">
        Encuentra a tus proveedores locales
      </h1>
      <p class="body-2 slider-text slider-reveal">Tanto productos como herramientas.</p>
      <a href="#" class="btn btn-primary slider-reveal">
        <span class="text text-1">Leer</span>
        <span class="text text-2" aria-hidden="true">Leer</span>
      </a>
    </li>
  </ul>
  <button class="slider-btn prev" aria-label="slide to previous" data-prev-btn>
    <ion-icon name="chevron-back-outline"></ion-icon>
  </button>
  <button class="slider-btn next" aria-label="slider to next" data-next-btn>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </button>
</section>
